
<body class=custom>
<DIV id="outer-center" class="hidden">
	<UL id="tabbuttons" class="hidden">
		<LI class="tab1"><A href="#tab1">GemBlinks WebApp</A></LI>
	</UL>
	<DIV id="tabpanels">
		<DIV id="tab1" class="tab-panel hidden">
			<DIV class="ui-layout-north ui-widget">
				<DIV class="toolbar ui-widget-content ui-state-active">
					
				</DIV>
			</DIV>
			<DIV class="ui-layout-south ui-widget">
				<DIV class="toolbar ui-widget-content ui-state-default">
					Footer
				</DIV>
			</DIV>
			<DIV class="ui-layout-center">
				<DIV id="main-header" class="ui-widget-header ui-corner-top">&nbsp;</DIV>
				<DIV id="main-content" class="ui-widget-content"></DIV>
				<DIV id="main-footer" class="ui-widget-footer ui-widget-header ui-corner-bottom">&nbsp;</DIV>
			</DIV>
			<DIV class="ui-layout-west">
				<DIV class="ui-layout-center">
					<DIV class="ui-widget-header ui-corner-top">Functions</DIV>
					<DIV class="ui-widget-content"><ul class="ztree" id="menu-functions"></ul></DIV>
					<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">
						<input type=text id=functions-filter />
					</DIV>
				</DIV>
				<DIV class="ui-layout-south">
					<DIV class="ui-widget-header ui-corner-top">Variables</DIV>
					<DIV class="ui-widget-content"><ul class="ztree" id="menu-variables"></ul></DIV>
					<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom clickable">
						<input type=text id=variables-filter />
					</DIV>
				</DIV>
			</DIV>
			</DIV>
		</DIV><!-- /#tab1 -->

	</DIV><!-- /#tabpanels -->

</DIV><!-- /#outer-center -->

<div id="load-session-dialog" title="Load session">
</div>

</body>
